* {
  margin: 0px;
  padding: 0px;
}
.facebook{
  text-align: center;
  padding-top: 5px;
  background-color: #f0f2f5;
}

body {
  font-family: "Roboto", sans-serif;
  background-size: cover;
  position: relative;
  background-color: #f0f2f5;
}
body::before {
  position: absolute;
  content: "";
  background: white;
  width: 100%;
  /* height: 100vh; */
  top: -70px;
  opacity: 0.6;
}

form {
  width: 423px;
  margin: 5px auto 30px 420px;
  height: 590px;
  /*margin-left: 35%;
  margin-top: 5%;*/
  padding: 0 10px 0 0;
  box-shadow: 0px 5px 8px 3px #aaaa;
  border-radius: 5px;
  background: white;
  z-index: 10;
  position: relative;
}

.first_title {
  font-size: 25px;
  padding: 12px 0px 1px 13px;
  text-align:center;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
}
#sub_title {
  color: #606770;
  margin-left: 12px;

}

.first_sub_title{
    text-align: center;
    margin-left: 50px;
}

hr {
  margin-top: 15px;
  opacity: 20%;
}


#all {
  width: 180px;
  border-radius: 5px;
  background: #ffffff;
  height: 37px;
  border: 1px solid #aaaa;
  font-size: 15px;
  margin-left: 13px;
  margin-top: 15px;
  padding-left: 10px;
}
#all1 {
  width: 390px;
  background: #ffffff;
  height: 37px;
  border: 1px solid #aaaa;
  border-radius: 5px;
  font-size: 15px;
  margin-left: 13px;
  margin-top: 10px;
  /* margin-top: -5px; */
  /* margin-bottom: 16px ; */
  padding-left: 10px;
}

.sub_title_2 {
  margin-top: 12px;
  font-size: 12px;
}
select {
  width: 122px;
  margin-left: 13px;
  margin-top: 10px;
  height: 35px;
  font-size: 15px;
  background: none;
  border: 1px solid #aaaa;
  border-radius: 5px;
}

.sub_title_3 {
  margin-top: 10px;
  font-size: 12px;
}
#all_gender {
  width: 110px;
  height: 25px;
  border: 1px solid #aaaa;
  padding: 10px 0px 0px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.female {
  margin-left: 13px;
  margin-top: 5px;
}
.male {
  margin-top: -36px;
  margin-left: 151px;
}
.other {
  margin-left: 290px;
  margin-top: -36px;
}

.sub_title_4 {
  margin-left: 15px;
  margin-top: 8px;
  font-size: 11px;
  color: #606770;
}
.sub_title_4 a {
  text-decoration: none;
  color: #3858b3;
}
.sub_title_5 {
  font-size: 11px;
  margin: 15PX;
  color: #606770;
}
.sub_title_5 a {
  text-decoration: none;
  color: #3858b3;
}
.sub_title_6 {
  text-decoration:none;
  padding-top: 18px;
  text-align: center;
  color:#1877f2;
}
.submit {
  width: 200px;
  height: 40px;
  background: #0ebd02;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  margin-left: 25%;
  margin-top: 8px;
  text-align:center;
}
.submit:hover {
  opacity: 60%;
}

.rd-btn{
  margin-right: 8px;
  margin-bottom: 6px;
}
/* .footer{
  background-color: #fff;
  padding-top: 30px;
  margin:0 auto;
  width:980px;
  font-size: 12px;
} */
.footer {
    width: 100%; 
    padding: 35px 0 20px 0;
    font-size: 12px;
    color: #737373;
    background-color: #fff;
    margin-top: 50px;
    margin: 0 auto;
    
}
.footer_top{
  align-items: center;
  display:flex;
  padding-left: 140px;
   
}
.footer_top a{
 
  text-decoration: none;
  font-size: 12px;
  color: #385898;
  padding: 0 0 0 10px;
   
}
.footer_bottom{
  align-items: center;
  line-height: 1.6;
  /* display:flex; */
  padding: 8px 120px;
}
.footer_bottom a{
  font-size: 12px;
  text-decoration: none;
  color: #385898;
  padding: 0 0 0 19px;
}
.sub_title7{
   padding-left: 140px;
}
.footer-hr {
    border: 0;
    border-top: 1px solid #707172;
    margin: 8px 0;
}